@font-face {
    font-family: 'Software Tester 7';
    src: url('software_tester_7.ttf');
  }

body {
    font-family: 'Software Tester 7';
    background-color: gray;
}

.container2 {
    margin-top: 19%;
    border: 8px solid darkgray;
    position: relative;
    bottom: 190px;
    background-color: black;
}

h1 {
    color: whitesmoke;
    text-align: center;
    font-size: 120px;
    margin: 0;
}

.textArea {
    text-align: center;
    margin-top: 90px;
    /* border: 1px solid; */
    font-size: 20px;
    color: whitesmoke;
    background-color: gray;
}

